{% trans_default_domain 'Cart' %}
<span id="cart-quantity">{{ cart.quantity }}</span> {{ 'cart.quantity'|trans({},'cart') }}
<span id="cart-sum">{{ cart.sum }}</span> <span>{{ 'cart.sum'|trans({},'cart') }}</span>
