{% trans_default_domain 'Cart' %}
<span id="cart-quantity">{{ cart.quantity }}</span> {{ 'cart.navbar.goods'|trans({},'domain') }}
<span id="cart-sum">{{ cart.sum }}</span> <span>{{ 'currency'|trans({},'domain') }}</span>
