<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../public/favicon.ico">
        <title>{% block title %}...iSponsor platform. Smartresponsor{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    {#{{ ws_client() }}#}
    <body>
        {% block body %}{% endblock %}
        {% block flash %}{% endblock %}
    </body>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
</html>

