{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('login') }}" method="POST">
        <label>
            <input type="email" name="email">
        </label>
        <button type="submit">Send Login Link</button>
    </form>
{% endblock %}

{% block title %}

{% endblock %}

