{% extends '/security/base.html.twig' %}
{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.message }}
            {{ error.messageKey|trans(error.messageData, 'security') }}

        </div>
    {% endif %}

    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
