{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block header %}{% endblock %}
{% block article_header %}{% endblock %}
{% block article_content %}

    <div id="masonry-grid" class="row m-0">

    </div>
{% endblock %}
