security:
    encoders:
        App\Entity\Vendor\VendorSecurity: bcrypt
    providers:
        chain_provider:
            chain:
                providers: [in_memory, database_users]
        in_memory:
            memory:
                users:
                    admin:
                        # kitten
                        password: kitten
                        roles: 'ROLE_ADMIN'
        database_users:
            entity:
                class: App\Entity\Vendor\VendorsSecurity
                property: email
    role_hierarchy:
        ROLE_USER: [ROLE_ALLOWED_TO_SWITCH]
        ROLE_ADMIN: [ROLE_USER]
        ROLE_SUPER_ADMIN: [ROLE_ADMIN]
    firewalls:
        #wsse:
        #   pattern:   ^/wsse/
        #  stateless: true
        # wsse:      { lifetime: 30 }
        admin:
            pattern: ^/admin*
            provider: in_memory
            anonymous: ~
            #remember_me: ~
            #secret: '%kernel.secret%'
            #lifetime: 604800 # 1 week in seconds
            #path: /admin
            #name: AdminRememberCookie
            #always_remember_me: true
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            pattern: ^/
            switch_user: { role: ROLE_ADMIN }
            provider: database_users
            http_basic: ~
            anonymous: ~
            guard:
                authenticators:
                - App\Security\TokenAuthenticator
            form_login:
                check_path: login
                login_path: login
                csrf_token_generator: security.csrf.token_manager
                default_target_path: homepage
                use_referer: true
                target_path_parameter: redirect
            logout:
                path: logout
                target: homepage
            json_login:
                check_path: jsonLogin
            # token_provider : 'Symfony\Bridge\Doctrine\Security\RememberMe\DoctrineTokenProvider'
            #
            # https://symfony.com.ua/doc/current/security/guard_authentication.html
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800 # 1 week in seconds
                path: /
                name: RememberCookie
                always_remember_me: true
    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
    #- { path: ^/(%app_locales%)/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(%app_locales%)/registration, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(%app_locales%)/admin*, roles: ROLE_ADMIN }
        # - { path: ^/admin, roles: ROLE_ADMIN }
    #- { path: ^/(%app_locales%)/profile, roles: ROLE_USER }
        - { path: ^/api, roles: ROLE_API_USER }

