{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}
{% block header %}{% endblock %}
{% block article_header %}<h1>Edit Category</h1>{% endblock %}
{% block article_content %}
    {{ include('category/categories/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
