composer.lock
yarn.lock
symfony.lock
package-lock.json
composer.phar
none
/config/secrets/dev/dev.decrypt.private.php
.php_cs.cache

/config/secrets/prod/*
/.idea
/.idea/*

**/log
**/logs
**/log/
**/logs/

/migrations
/migrations/*
/bootstrap-4.0.0/*
#
/.env.prod
/.env.prod.php
/.env.*.prod
#
/.env.local
/.env.local.php
/.env.*.local
#
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/ver/*
#
/vendor
/vendor/
/verdor/*
#
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> baldinof/roadrunner-bundle ###
/bin/rr
###< baldinof/roadrunner-bundle ###
/config/secrets/prod/

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
