parameters:
    level: 8
    paths:
        - src
        - tests
        - vendor/symfony/framework-bundle
services:
    -
        class: Symfony\Bridge\PhpStan\Type\Symfony\SymfonyContainerTypeExtension
        tags:
            - phpstan.broker.customMethodsExtension

    -
        class: Symfony\Bridge\PhpStan\Type\Symfony\ServiceLocatorDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

    -
        class: Symfony\Bridge\PhpStan\Type\Symfony\ServiceSubscriberDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    # Добавьте сюда другие включаемые файлы или расширения PHPStan

