<figure id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for file in files if files %}
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        {% endfor %}
    </div>
</figure>