{% extends 'base.html.twig' %}

{% block title %}Edit Languages{% endblock %}

{% block body %}
    <h1>Edit Languages</h1>

    {{ include('languages/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('languages_index') }}">back to list</a>

    {{ include('languages/_delete_form.html.twig') }}
{% endblock %}
