{% extends 'base.html.twig' %}
{% block head_css %}
    <!-- Copy CSS from https://getbootstrap.com/docs/4.1/getting-started/introduction/#css -->
{% endblock %}

{% block body %}
    <h1>{{ hello }}, {{ name }}</h1>
{% endblock %}
{% block head_js %}
    <!-- Copy JavaScript from https://getbootstrap.com/docs/4.1/getting-started/introduction/#js -->
{% endblock %}