// Bootstrap init
// настройте некоторые переменные Bootstrap
$brand-primary: darken(#428bca, 20%);
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/regular';
//@import '~@fortawesome/fontawesome-free/scss/solid';
//@import '~@fortawesome/fontawesome-free/scss/brands';

@import "~bootstrap/scss/carousel";
@import "bootstrap-tagsinput";
@import "~tinymce/skins/ui/oxide/content.min.css";
@import "~tinymce/skins/ui/oxide/skin.min.css";

//
@import "../css/multistep_forms.css";