// настройте некоторые переменные Bootstrap
$brand-primary: darken(#428bca, 20%);
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

// ~ позволяет вам ссылаться на вещи в node_modules
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';