{% extends 'base.html.twig' %}

{% block title %}Edit Featured{% endblock %}

{% block body %}
    <h1>Edit Featured</h1>

    {{ include('featured/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('featured_index') }}">back to list</a>

    {{ include('featured/_delete_form.html.twig') }}
{% endblock %}
