{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block header %}{% endblock %}
{% block article_header %}{% endblock %}
{% block article_content %}
    <p>1. ОБЩИЕ ПОЛОЖЕНИЯ</p>
    <p>1.1. Общество с ограниченной ответственностью "СМАРТРЕСПОНСОР", далее по тексту - "Общество", в лице
        директора Тищенко Александра Александровича, действующего на основании Устава с одной стороны, публикует
        настоящее предложение о заключении соглашения, далее по тексту - "Соглашение", а любое полностью
        дееспособное физическое или юридическое лицо, заинтересованное во взаимодействии с Обществом, далее по
        тексту - "Клиент", соглашается с условиями настоящего Соглашения в полном объеме, без каких-либо оговорок.
        Вместе, далее по тексту - "Стороны", а каждая отдельно, далее по тексту - "Сторона".</p>
    <p>1.2. В соответствии со статьей 633 Гражданского Кодекса Украины настоящий Договор является Публичным
        договором.</p>
    <p>1.3. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ:</p>
    <p>1.3.1. Товар – любой материальный и нематериальный объект;</p>
    <p>1.3.2. Услуга – любая операция, не являющаяся передачей/поставкой Товаров, связанная с оказанием сервиса,
        который потребляется в процессе совершения определенного действия или осуществления определенной
        деятельности, для удовлетворения личных потребностей потребителя;</p>
    <p>1.3.3. Сервис – программные, аппаратные и другие средства Общества, в т.ч. Товары и Услуги Общества, которые
        в совокупности предоставляют Пользователю возможность коммуникаций (связи), поиска, размещения, хранения и
        персонализации разного рода информации и материалов, совершения покупок/продаж Товаров и/или
        потребления/оказания Услуг, в т.ч. Товаров и Услуг Общества, взаимодействия Клиента с неопределенно широким
        кругом других Пользователей и т.д., используя такие в полной или частичной мере.</p>
    <p>1.3.4. Интернет-магазин – сайт Общества, торгующий собственными Товарами Общества, а также Товарами
        Пользователей и предлагающий к оплате Услуги Общества, а также Услуги других Пользователей посредством сети
        Интернет. Позволяет Клиентам Сервиса онлайн, в своём браузере или через мобильное приложение, сформировать
        заказ на покупку, выбрать способ оплаты и доставки заказа, оплатить заказ, а также, позволяет Клиентам
        Сервиса онлайн, в своём браузере или через мобильное приложение, разместить информацию о собственном Товаре
        и/или предоставляемой Услуге. При этом продажа Товаров и/или оплата Услуг осуществляется дистанционным
        способом.</p>
    <p>1.3.5. Покупатель – физическое или юридическое лицо, осуществляющее оплату деньгами и являющееся
        приобретателем Товаров и/или Услуг Общества и/или являющееся приобретателем Товаров и/или Услуг других
        Пользователей.</p>
    <p>1.3.5. Продавец – это любое юридическое (организация, предприятие, учреждение) или физическое лицо,
        передающее Покупателю Товары и/или Услуги. Продавец осуществляет деятельность в рамках Сервиса Общества в
        соответствии с условиями настоящего Соглашения. В соответствии с Договором Продавец обязуется передать в
        обусловленный срок или сроки, производимые либо закупаемые таким Товары Покупателю для использования в
        личных, семейных, домашних или иных подобных целях, не связанных с предпринимательской деятельностью.</p>
    <p>1.3.6. Поставщик - это любое юридическое (организация, предприятие, учреждение) или физическое лицо,
        передающее Покупателю Товары и/или Услуги. Поставщик осуществляет предпринимательскую деятельность в рамках
        Сервиса Общества в соответствии с условиями настоящего Соглашения. В соответствии с Договором Поставщик
        обязуется поставить в обусловленный срок или сроки, производимые либо закупаемые таким Товары Покупателю для
        использования в предпринимательской деятельности или в других целях, не связанными с личными, семейными,
        домашними или иным подобными целями.</p>
    <p>1.3.6. Термины «Сервис» и «Сервис – Я Спонсор», «Сервис – …Я Спонсор!», «Сервис – Смартреспонсор»,
        «Смартреспонсор» в рамках Сервиса Общества тождественны и имеют единое значение первого указаного
        термина.</p>
    <p>1.3.7. Термины «Интернет-магазин» и «Интернет-магазин – Я Спонсор», «Интернет-магазин – …Я Спонсор!», «ИМ – Я
        Спонсор», «Интернет-площадка – Я Спонсор», «Площадка – Я Спонсор»,«Интернет-площадка …Я Спонсор!», «Площадка
        …Я Спонсор!», «Краудфандинговая площадка – Я Спонсор», «КП – Я Спонсор», «КП …Я Спонсор!», «Интернет-магазин
        – Краудфандинговая площадка – Я Спонсор», «ИМ – Краудфандинговая площадка – Я Спонсор» «ИМ – КП – Я
        Спонсор», «ИМ – Краудфандинговая площадка – … Я Спонсор!» «ИМ – КП – … Я Спонсор!» в рамках Сервиса Общества
        тождественны и имеют единое значение первого указаного термина.</p>
    <p>1.3.8. Термины «Продавец» и «Автор», «Я Автор» «…Я Автор!» в рамках Сервиса Общества тождественны и имеют
        единое значение первого указаного термина.</p>
    <p>1.3.9. Термины «Покупатель» и «Клиент», «Спонсор», «Я Спонсор», «…Я Спонсор!» в рамках Сервиса Общества
        тождественны и имеют единое значение первого указаного термина.</p>
    <p>1.3.10. Термины «Товар» и «Акция», «Шаг», «Купон», «Сертификат» в рамках Сервиса Общества тождественны и
        имеют единое значение первого указаного термина.</p>
    <p>1.3.11. Термины «Информация о Товаре» и «Публикация», «Проект», «Кампания» в рамках Сервиса Общества
        тождественны и имеют единое значение первого указаного термина.</p>
    <p>1.3.12. Термины «Изображения Товара» и «Слайды», «Слайды публикации», «Слайды презентации» в рамках Сервиса
        Общества тождественны и имеют единое значение первого указаного термина.</p>
    <p>1.3.13. Термины «Товарный чек» и «Чек» «Квитанция» в рамках Сервиса Общества тождественны и имеют единое
        значение первого указаного термина.</p>
    <p>1.3.14. Термины «Заказ» и «Поручение», «Платежка» в рамках Сервиса Общества тождественны и имеют единое
        значение первого указаного термина.</p>
    <p>1.3.15. Термины «Счет» и «Счет на оплату Услуг» «Счет к оплате Товаров» в рамках Сервиса Общества
        тождественны и имеют единое значение первого указаного термина.</p>
    <p>1.3.16. Термины «Способ доставки» и «Способ Благодарности» в рамках Сервиса Общества тождественны и имеют
        единое значение первого указаного термина.</p>
    <p>1.3.17. Термины «Способ оплаты» и «Способ участия» «Способ спонсирования» в рамках Сервиса Общества
        тождественны и имеют единое значение первого указаного термина.</p>
    <p>1.3.18. Термины «Количество товара» и «Количество акций», «Количество шагов», «Количество купонов»,
        «Количество сертификатов» в рамках Сервиса Общества тождественны и имеют единое значение первого указаного
        термина.</p>
    <p>1.3.19. Термины «Запас товара на складе» и «Запас акций», «Запас шагов», «Запас купонов», «Запас
        сертификатов» в рамках Сервиса Общества тождественны и имеют единое значение первого указаного термина.</p>
    <p>2. ПРЕДМЕТ ДОГОВОРА</p>
    <p>2.1. Общество предоставляет Пользователю Сервис, в т.ч. Товары и Услуги Общества, а Клиент оплачивает
        предоставленный Сервис, согласно условиям настоящего Соглашения.</p>
    <p>2.2. Сервис, предоставляемый Обществом в настоящий момент, а также любое развитие Сервиса и/или добавление
        Обществом новых Услуг и/или Товаров в Сервис, является предметом настоящего Соглашения.</p>
    <p>2.3. Испльзование программных, аппаратных и других средств Общества регулируется настоящим Соглашением, а
        также Приложением 1 - Правила использования Сервиса (<a href="https://smartresponsor.com/ru/termsofuse/">https://smartresponsor.com/ru/termsofuse/</a>),
        а также Приложением 2 (Политика конфиденциальности (<a href="https://smartresponsor.com/ru/confidential/">https://smartresponsor.com/ru/confidential/</a>)).
    </p>
    <p>2.4. Отношения возникающие у Сторон в связи с покупкой Клиентом Товаров Общества для использования в личных,
        семейных, домашних или иных подобных целях, не связанных с предпринимательской деятельностью регулируются
        настоящим Соглашением, Приложением 1 - Правила использования Сервиса (<a
                href="https://smartresponsor.com/ru/termsofuse/">https://smartresponsor.com/ru/termsofuse/</a>),
        Приложением 2 (Политика конфиденциальности (<a href="https://smartresponsor.com/ru/confidential/">https://smartresponsor.com/ru/confidential/</a>)),
        а также Приложение 3 (Договор купли-продажи(<a href="https://smartresponsor.com/ru/bayers/">https://smartresponsor.com/ru/bayers/</a>)).
    </p>
    <p>2.5. Отношения возникающие у Сторон в связи с покупкой Клиентом Товаров Общества для использования в
        предпринимательской деятельности или в других целях, не связанными с личными, семейными, домашними или иным
        подобными целями регулируются настоящим Соглашением, Приложением 1 - Правила использования Сервиса (<a
                href="https://smartresponsor.com/ru/termsofuse/">https://smartresponsor.com/ru/termsofuse/</a>),
        Приложением 2 (Политика конфиденциальности (<a href="https://smartresponsor.com/ru/confidential/">https://smartresponsor.com/ru/confidential/</a>)),
        а также Приложение 4 (Договор поставки(<a href="https://smartresponsor.com/ru/sales/">https://smartresponsor.com/ru/sales/</a>)).
    </p>
    <p>2.6. Отношения возникающие у Сторон в связи с оплатой Клиентом Услуг Общества регулируются настоящим
        Соглашением, Приложением 1 - Правила использования Сервиса (<a
                href="https://smartresponsor.com/ru/termsofuse/">https://smartresponsor.com/ru/termsofuse/</a>),
        Приложением 2 (Политика конфиденциальности (<a href="https://smartresponsor.com/ru/confidential/">https://smartresponsor.com/ru/confidential/</a>)),
        Приложением 4 (Договор поставки(<a href="https://smartresponsor.com/ru/sales/">https://smartresponsor.com/ru/sales/</a>)),
        а также Приложением 5 (Договор предоставления услуг (<a href="https://smartresponsor.com/ru/service/">https://smartresponsor.com/ru/service/</a>)).
    </p>
    <p>2.7. Отношения возникающие у Сторон в связи проведением Обществом мероприятия за счетспонсорской поддержки
        Клиента регулируются настоящим Соглашением, Приложением 1 - Правила использования Сервиса (<a
                href="https://smartresponsor.com/ru/termsofuse/">https://smartresponsor.com/ru/termsofuse/</a>),
        Приложением 2 (Политика конфиденциальности (<a href="https://smartresponsor.com/ru/confidential/">https://smartresponsor.com/ru/confidential/</a>)),
        а также Приложением 6 (Договор спонсорства (<a href="https://smartresponsor.com/ru/sponsorship/">https://smartresponsor.com/ru/sponsorship/</a>)).
    </p>
    <p><br>2.8. Соглашение и/или Приложения к Соглашению могут быть изменен Обществом без какого-либо специального
        уведомления, новая редакция Соглашения вступает в силу с момента размещения такой в сети Интернет по
        указанному в настоящем пункте адресе, если иное не предусмотрено новой редакцией Соглашения. Действующая
        редакция Соглашения всегда находится на странице по адресу <a href="https://smartresponsor.com/ru/rules">https://smartresponsor.com/ru/rules/.</a>
    </p>
    <p>2.3. Все Приложения к настоящему Соглашению являются неотъемлемой частью настоящего Соглашения.</p>
    <p>2.4. Начиная использовать Сервис, в т.ч. отдельные компоненты(услуги, возможности программных, аппаратных и
        др. средств, преобретая Товар и/или Услугу Общества) Сервиса, Клиент считается принявшим условия настоящего
        Соглашения в полном объеме без каких-либо оговорок и исключений. В случае несогласия Клиента с каким-либо из
        Положений настоящего Соглашения Клиент не вправе использовать Сервис. В случае, если Обществом были внесены
        какие-либо изменения в Договор, с которыми Клиент не согласен, Клиент обязан прекратить использование
        Сервиса. Факт не прекращения использования Сервиса является подтверждением согласия Клиента с
        соответствующей редакцией Соглашения.</p>
    <p>3.ПРАВА, ОБЯЗАННОСТИ И ОТВЕТСТВЕННОСТЬ СТОРОН</p>
    <p>3.1. ПРАВА ОБЩЕСТВА</p>
    <p>3.1.1. Общество имеет право в любой момент потребовать от Клиента сведения (в частности - документы,
        удостоверяющие личность) или совокупность сведений о Пользователе, который при помощи таких идентифицирован
        или может быть конкретно идентифицирован, далее по тексту - "Персональные данные". По усмотрению Общества,
        непредоставление таких документов может быть приравнено к предоставлению недостоверной информации и повлечь
        последствия, предусмотренные пунктом 3.1.4. настоящего Соглашения. В случае, если Персональные данные
        Клиента, указанные в предоставленных документах, не соответствуют действительности и/или не позволяют
        идентифицировать Клиента, Общество вправе отказать Пользователю в использовании Сервиса.</p>
    <p>3.1.2. Общество имеет право хранить и обрабатывать Персональные данные Клиента, переданную Клиентом Обществу
        в соответствии с Положением 2. (Политика конфиденциальности (<a
                href="https://smartresponsor.com/ru/confidential/">https://smartresponsor.com/ru/confidential/</a>))
        к настоящему Соглашению.</p>
    <p>3.1.3. Общество имеет право запретить использование определенных типов информации (логинов и паролей).</p>
    <p>3.1.4. Общество вправе заблокировать доступ к персональной информации Клиента или удалить такую, а также
        запретить доступ с использованием Персональных данных Клиента к определенным услугам Сервиса, и удалить
        любую персональную информацию Клиента без объяснения причин, в том числе в случае нарушения Клиентом условий
        Соглашения или условий иных документов, предусмотренных п. 2.2. Соглашения.</p>
    <p>3.1.5. Общество имеет право устанавливать ограничения в наличии/отсутствии отдельных частей Сервиса,
        возможностей (функций) программных и/или аппаратных средств Сервиса, максимального срока хранения информации
        Клиента, максимального количество информации Клиента (в т.ч. отправленных и/или полученных сообщений
        Клиентом и максимального размера сообщения), максимального количества обращений к Сервису за период времени,
        к специальным параметрам информации и т.д., в зависимости от места пребывания Клиента, языка, на котором
        предоставляется Сервис и пр.. Общество имеет право запретить автоматическое обращение к Сервису и/или
        отдельным Услугам Общества, а также прекратить прием любой информации, сгенерированной автоматически
        (например, почтового спама).</p>
    <p>3.1.6. Общество имеет право посылать Пользователю информационные сообщения, в т.ч. сообщения рекламного
        характера.</p>
    <p>3.1.7. Общество имеет право не просматривать информацию любого рода (вида), размещаемую и/или
        распространяемую Клиентом посредством Сервиса.</p>
    <p>3.1.8. Общество имеет право отказать Пользователю в размещении и/или распространении информации без
        объяснения причин действий Общества.</p>
    <p>3.1.9. Общество имеет право копировать (воспроизводить) информацию Клиента, а также перерабатывать такую для
        соответствия требованиям предоставляемого Сервиса.</p>
    <p>ОБЯЗАННОСТИ ОБЩЕСТВА</p>
    <p>3.2. ПРАВА ПОЛЬЗОВАТЕЛЯ</p>
    <p>3.2.1. Клиент имеет право в любой момент удалить и/или прекратить действие персональной информации в
        отношении Сервиса.</p>
    <p>3.2.2. Клиент имеет право отказаться от получения сообщений рекламного характера путем использования
        соответствующих возможностей программных и/или аппаратных средств Сервиса, в рамках которых Клиентом были
        получены такие сообщения.</p>
    <p>3.2.3. Клиент не вправе загружать, посылать, передавать или любым другим способом размещать и/или
        распространять информацию, которая является незаконной, вредоносной, клеветнической, оскорбляет
        нравственность, демонстрирует (или является пропагандой) насилия и жестокости, нарушает права
        интеллектуальной собственности, пропагандирует ненависть и/или дискриминацию людей по расовому, этническому,
        половому, религиозному, социальному признакам, содержит оскорбления в адрес каких-либо лиц или организаций,
        содержит элементы (или является пропагандой) порнографии, детской эротики, представляет собой рекламу (или
        является пропагандой) услуг сексуального характера (в том числе под видом иных услуг), разъясняет порядок
        изготовления, применения или иного использования наркотических веществ или их аналогов, взрывчатых веществ
        или иного оружия.</p>
    <p>3.2.4. Клиент не вправе нарушать права третьих лиц, в том числе несовершеннолетних лиц и/или причинять вред
        таким в любой форме;</p>
    <p>3.2.5. Клиент не вправе выдавать себя за другого человека или представителя организации и/или сообщества без
        достаточных на то прав, в том числе за сотрудников Общества, а также применять любые другие формы и способы
        незаконного представительства других лиц, а также вводить других Пользователей или Общество в заблуждение
        относительно свойств и характеристик каких-либо субъектов или объектов;</p>
    <p>3.2.6. Клиент не вправе загружать, посылать, передавать или любым другим способом размещать и/или
        распространять информацию при отсутствии прав на такие действия согласно законодательству или каким-либо
        договорным отношениям;</p>
    <p>3.2.7. Клиент не вправе загружать, посылать, передавать или любым другим способом размещать и/или
        распространять не разрешенную специальным образом рекламную информацию, спам (в том числе и поисковый),
        списки чужих адресов электронной почты, схемы «пирамид», многоуровневого (сетевого) маркетинга (MLM),
        системы интернет-заработка и e-mail-бизнесов, «письма счастья», а также использовать средства Общества для
        участия в этих мероприятиях, или использовать средства Общества, исклчительно для перенаправления других
        Пользователей за пределы Сервиса;</p>
    <p>3.2.8. Клиент не вправе загружать, посылать, передавать или любым другим способом размещать и/или
        распространять какие-либо материалы, содержащие вирусы или другие компьютерные коды, файлы или программы,
        предназначенные для нарушения, уничтожения либо ограничения функциональности любого компьютерного или
        телекоммуникационного оборудования или программ, для осуществления несанкционированного доступа, а также
        серийные номера к коммерческим программным продуктам и программы для их генерации, логины, пароли и прочие
        средства для получения несанкционированного доступа к платным ресурсам в Интернете, а также размещения
        ссыланийв любой форме на вышеуказанную информацию;</p>
    <p>3.2.9. Клиент не вправе несанкционированно собирать и хранить Персональные данные других лиц;</p>
    <p>3.2.10. Клиент не вправе нарушать нормальную работу Сервиса;</p>
    <p>3.2.11. Клиент не вправе пособствовать действиям, направленным на нарушение ограничений и запретов,
        налагаемых настоящим Договором;</p>
    <p>3.2.12. Клиент не вправе другим образом нарушать нормы законодательства, в том числе нормы международного
        права.</p>
    <p>3.2.13. Клиент имеет право прекратить использование Сервиса в одностороннем порядке без предварительного
        уведомления об этом Общества и объяснения причин.</p>
    <p>3.2.14. Клиент не вправеиспользовать программные и аппаратные ресурсы Сервиса для размещения схожей по
        содержанию информации о Товарах и/или Услугах, где очевидно, что речь идет об одном и том же предложении или
        спросе.</p>
    <p>3.2.15. Клиент не вправеиспользовать программные и аппаратные ресурсы Сервиса для размещения, через
        дублирование, информации о Товарах и/или Услугах используя разную информацияю для авторизации.</p>
    <p>3.2.16. Клиент не вправеиспользовать программные и аппаратные ресурсы Сервиса для размещения информации о
        Товарах и/или Услугах в рубриках, которые не соответствуют содержанию (назначению).</p>
    <p>3.2.17. Клиент не вправеиспользовать программные и аппаратные ресурсы Сервиса для размещения информации о
        Товарах и/или Услугах, в заголовке которых содержатся повторяющиеся знаки пунктуации и/или небуквенные
        символы.</p>
    <p>3.2.18. Клиент не вправеиспользовать программные и аппаратные ресурсы Сервиса для размещения информации о
        Товарах и/или Услугах, описание и/или заголовок/фотографии которых являются несвязанными, нечитаемыми.</p>
    <p>3.2.19. Клиент не вправеиспользовать программные и аппаратные ресурсы Сервиса для размещения информации о
        Товарах и/или Услугах, с предложениями нескольких Товаров и/или Услуг одновременно;</p>
    <p>3.2.20. Клиент не вправе обсуждать действия администрации Серсива иным образом, кроме как посредством деловой
        переписки с администрацией Сервиса;</p>
    <p>3.2.21. Клиент имеет право использовать программные и аппаратные ресурсы Сервиса для размещения информации о
        Товарах и/или Услугах на принципе - одно размещение касательно одного конкретного предмета, объекта,
        имущества, Услуги и т.д..</p>
    <p>3.2.22. Клиент не вправе делать вывод, что предложение, продажа и/или приобретение какого-либо Товара и/или
        Услуги является действительным и легальным исходя из факта размещения, продажи и/или приобретения каких-либо
        Товаров и/или Услуг посредством Сервиса.</p>
    <p>3.3. ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ</p>
    <p>3.3.1. Клиент обязуется предоставить достоверные и полные Персональные данные о себе и поддерживать такие
        данные в актуальном состоянии.</p>
    <p>3.3.2. Клиент обязан самостоятельно нести ответственность за безопасность (устойчивость к угадыванию)
        выбранной для авторизации информации (логина и пароля), а также обязан самостоятельно обеспечить
        конфиденциальность такой информации.</p>
    <p>3.3.3. Клиент обязан самостоятельно нести ответственность за все действия (а также последствия таких
        действий) в рамках Сервиса с использованием информации для авторизации в программных и/или аппаратных
        средствах Сервиса, включая случаи добровольной передачи Клиентом данных авторизации третьим лицам на любых
        условиях (в том числе по договорам или соглашениям). При этом все действия в рамках Сервиса с использованием
        информации для авторизации в программных и/или аппаратных средствах Сервиса считаются произведенными самим
        Клиентом, за исключением случаев, когда Клиент, в порядке, предусмотренном п. 3.3.5., уведомил Общество о
        несанкционированном доступе к программным и/или аппаратным средствам Сервиса с использованием Персональных
        данных для авторизации Клиента и/или о любом нарушении (подозрениях о нарушении) конфиденциальности такой
        информации.</p>
    <p>3.3.5. Клиент обязан немедленно уведомить Общество о любом случае несанкционированного (не разрешенного
        Клиентом) доступа к программным и/или аппаратным средствам Сервиса с использованием персональной информации
        дла авторизации Клиента и/или о любом нарушении (подозрениях о нарушении) конфиденциальности такой
        информации. В целях безопасности, Клиент обязан самостоятельно осуществлять безопасное завершение работы с
        программными и/или аппаратными средствами Сервиса по окончании каждой сессии работы.</p>
    <p>3.3.6. Клиент не вправе воспроизводить, повторять и копировать, продавать и перепродавать, а также
        использовать для каких-либо коммерческих целей какие-либо части средств Сервиса (включая публичную
        информацию, доступную Пользователю посредством средств Сервиса), или доступ к таким, кроме случаев, когда
        Клиент получил разрешение от Общества, либо когда это прямо предусмотрено Договором.</p>
    <p>3.3.7. Клиент обязан самостоятельно нести ответственность за соответствие содержания размещаемой Клиентом
        информации требованиям действующего законодательства, включая ответственность перед третьими лицами в
        случаях, когда размещение Клиентом того или иного рода информации или содержание такой информации нарушает
        права и законные интересы третьих лиц, в том числе личные неимущественные права авторов, иные
        интеллектуальные права третьих лиц и/или посягает на принадлежащие им нематериальные блага.</p>
    <p>3.3.7. Клиент обязан самостоятельно нести ответственность перед третьими лицами за свои действия, связанные с
        использованием Сервиса и/или отдельных услуг Сервиса, в том числе, если такие действия приведут к нарушению
        прав и законных интересов третьих лиц, а также за соблюдение законодательства при использовании таких.</p>
    <p>3.3.8. Клиент обязан самостоятельно оценивать все риски, связанные с использованием информации, включая
        оценку надежности, полноты или полезности такой.</p>
    <p>3.3.9. Клиент гарантирует, что предлагаемые им Товары/Услуги соответствуют нормам качества, установленным
        законодательством стран, для которых такие реализуются и свободны от притязаний третьих лиц.</p>
    <p>3.3.10. Клиент гарантирует, что предлагаемые таким Клиентом Услуги, в случае если оказание таких требует
        специального разрешения, будут осуществлены в соответствии с требованиями законодательства стран,
        специальные органы которых будут уполномочены осуществлять надзор за такой деятельностью Клиента.</p>
    <p>3.3.11. Клиент обязан тщательно проверять(составлять) всю информацию о Товарах и/или Услугах и, в случае
        обнаружения неверной и/или неполной информации, добавлять необходимые сведения. Если такое невозможно,
        Клиент обязан исправить неверную информацию, аннулировав неверную информацию и повторно разместив информацию
        о Товаре и/или Услуге.</p>
    <p>3.3.12. Условия доставки должны включаться в описание Товара, а условия оказания Услуг в описание Услуги.
        Условия продажи Товара и оказания Услуг, составленные Клиентом, не должны противоречить настоящему
        Соглашению и действующему законодательству стран, для которых такие реализуются.</p>
    <p>3.3.13. Клиент обязуется не оказывать активную поддержку и не распространять информацию об Услугах,
        предоставляемых конкурентами Общества, как-то, но не исключительно: Информацию о других Сервисах, досках
        объявлений, торговых площадках, интернет-аукционах и/или интернет-магазинах.</p>
    <p>3.4. ОТВЕТСТВЕННОСТЬ СТОРОН</p>
    <p>3.4.1. Общество не отвечает за возможную потерю или порчу персональной информации Клиента, а также другие
        последствия любого характера, которые могут произойти из-за нарушения Клиентом положений этой части
        Соглашения.</p>
    <p>4. СРОК ДЕЙСТВИЯ ДОГОВОРА</p>
    <p>4.1. Настоящий Договор вступает в силу с момента начала использования Клиентом Сервиса и/или отдельных Услуг
        (частей, функций программных и/или аппаратных средств, заказе Товара) Сервиса и действует бессрочно.</p>
    <p>4.2. В случае, если Обществом были внесены какие-либо изменения в Договор в порядке, предусмотренном
        пунктом</p>
    <p>4.3. Расторжение Соглашения со стороны Общества может произойти в случаях: нарушения Клиентом положений
        настоящего Соглашения, нанесения любого вреда Обществу, в том числе репутации Общества или другим Клиентам
        Сервиса; совершения других действий, которые противоречат политике Общества. Правоотношения могут быть
        возобновлены только после принятия Обществом соответствующего решения.</p>
    <p>5. СТОИМОСТЬ УСЛУГ И ПОРЯДОК РАСЧЕТОВ</p>
    <p>5.1. Заказ платных Услуг и/или Товаров Общества осуществляется Клиентом на сайте через соответствующие
        возможности программых и аппаратных средств Сервиса.</p>
    <p>5.2. Клиент обязуется ознакомиться с ценами на Услуги и Товары Общества, предоставляемые посредством Сервиса,
        после чего может заказать такие. Подробная информация о стоимости всех Услуг и Товаров указана в
        соответствующих разделах настоящего Соглашения.</p>
    <p>5.3. Возврат оплаченных денежных средств за неоказанные Услуги осуществляется Обществом в следующих
        случаях:</p>
    <p>5.3.1. Если по причине любой технической неполадки Услуга не предоставлялась, возврат оплаченных денежных
        средств осуществляется Обществом после предоставления Клиентом доказательств оплаты. В таком случае возврат
        денежных средств отображается в балансе Общества и в персональной учетной записи Клиента с возможностью
        использования денежных средств в будущем;</p>
    <p>5.3.2. Автоматически (без предоставления Клиентом доказательств оплаты) возможностями прогаммных и аппаратных
        средств Сервиса за каждую удаленнуюПубликацию (кроме таких, что удалены как неактулаьные), если оплачена
        Услуга Топ, Выделение или Срочно. Возврат денежных средств осуществляется за те дни, в которых Услуга не
        предоставлялась (кроме Услуг Выделение и Срочно, где производится полный возврат оплаченных средств).</p>
    <p>5.3.3. При оплате Услуг с удалённых Обществом учетных записей Клиента, которые были продублированы Клиентом в
        нарушение условий данного Соглашения. Такой возврат осуществляется Обществом исключительно по обращению
        Клиента, а денежные средства возвращаются на активную учетную запись такого Клиента с возможностью
        использования оплаченных денежных средств в будущем.Денежные средства, оплаченные за размещение информации о
        запрещённых Товарах, Услугах, предложениях, перечень которых указан по адресу: <a
                href="http://smartresponso.com/help/about/spisok-zapreschennyh-tovarov-uslug/">http://smartresponso.com/help/about/spisok-zapreschennyh-tovarov-uslug/</a>,
        при блокировании учетной записи не возвращаются.</p>
    <p>5.3.4. Общество вправе отказать в возврате денежных средств Пользователю, который систематически нарушает
        условия настоящего Соглашения.</p>
    <p>5.3.4. Общество, в случае наличия технической возможности и возможности идентификации Клиента, может
        предоставить Пользователю Акт приёма-передачи предоставленных платных Услуг. Клиент обязуется в течении 5
        (пяти) календарных дней после получения такого Акта подписать и направить Обществу подписанный экземпляр
        Акта, либо в тот же срок направить Обществу мотивированный отказ от подписания Акта с указанием причин
        отказа от подписания. В случае если в указанный срок Клиентом не будет отправлен подписанный Акт, или
        мотивированный отказ от его подписания, платные Услуги, предоставленные Обществом, считаются принятыми без
        замечаний относительно качества и срока предоставления.</p>
    <p>6. ИСКЛЮЧИТЕЛЬНЫЕ ПРАВА НА СОДЕРЖАНИЕ ИНФОРМАЦИИ</p>
    <p>6.1. Все объекты, в том числе какие-либо элементы объектов, доступные посредством Сервиса, а также любая
        информация, размещенная в рамках Сервиса, являются объектами исключительных прав Общества, Пользователей и
        других правообладателей.</p>
    <p>6.2. Использование информации, а также объектов Сервиса, в том числе каких-либо элементов объектов, возможно
        только в рамках Сервиса. Никакие объекты Сервиса, в том числе какие-либо элементы объектов, а также любая
        информация, размещенная в рамках Сервиса, не может быть использована иным образом без предварительного
        разрешения правообладателя. Под использованием подразумевается в том числе: воспроизведение, копирование,
        переработка, распространение на любой основе, отображение в любой форме и т.д. Исключение составляют случаи,
        прямо предусмотренные законодательством Украины или условиями настоящего Соглашения.</p>
    <p>6.3. Использование Клиентом объектов, в том числе каких-либо элементов объектов Сервиса, а также любой
        информации для личного некоммерческого использования, допускается при условии сохранения всех знаков охраны
        авторского права, смежных прав, товарных знаков, других уведомлений об авторстве, сохранения имени (или
        псевдонима) автора/наименования правообладателя в неизменном виде, сохранении соответствующего объекта и/или
        элемента объекта в неизменном виде. Исключение составляют случаи, прямо предусмотренные законодательством
        Украины или настоящим Договором.</p>
    <p>7. Информация третьих лиц</p>
    <p>7.1. Сервис может содержать ссылания в любой форме на Товары, Услугуи, любую информацию коммерческого или
        некоммерческого характера третьих лиц. Указанные третьи лица и информация таких лиц не проверяются Обществом
        на соответствие каким-либо требованиям (достоверности, полноты, законности и т.п.). Общество не несет
        ответственность за любую информацию, материалы третьих лиц, к которым Клиент получает доступ с
        использованием Сервиса, в том числе, за любые мнения или утверждения, выраженные третьими лицами, рекламу и
        т.п., а также за доступность такой информации и последствия использования Клиентом такой.</p>
    <p>7.2. Ссылания в любой форме на Товары, Услуги, любую информацию коммерческого или некоммерческого характера
        третьих лиц, размещенная на ресурсах Сервиса, не является одобрением и/или рекомендацией данных Товаров
        (Услуг, деятельности) со стороны Общества, за исключением случаев, когда на это прямо указывается на
        ресурсах Общества.</p>
    <p>8. РЕКЛАМА В РАМКАХ СЕРВИСА</p>
    <p>8.1. Общество несет ответственность за рекламу, размещенную в рамках Сервиса, в пределах, установленных
        законодательством Украины.</p>
    <p>9. ОТСУТСТВИЕ ГАРАНТИЙ, ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</p>
    <p>9.1. Клиент использует Сервис на свой собственный риск. Сервис предоставляется «как есть». Общество не
        принимает на себя никакой ответственности, в том числе за соответствие Сервиса целям Клиента;</p>
    <p>9.2. Общество не гарантирует то, что: Сервис соответствует (будет) соответствовать требованиям Клиента;
        Сервис будет предоставляться непрерывно, быстро, надежно и без ошибок; результаты, которые могут быть
        получены с использованием Сервиса, будут точными и надежными и могут использоваться для каких-либо целей или
        в каком-либо качестве; качество какого-либо Товара, Услуги, информации и пр., полученных с использованием
        Сервиса, будет соответствовать ожиданиям Клиента.</p>
    <p>9.3. Любая информация и/или материалы (в том числе загружаемое ПО, письма, какие-либо инструкции и
        руководства к действию и т.д.), доступ к которым Клиент получает с использованием Сервиса, Клиент может
        использовать на свой собственный страх и риск и самостоятельно несет ответственность за возможные
        последствия использования указанных информации и/или материалов, в том числе за ущерб, который это может
        причинить компьютеру Клиента или третьим лицам, за потерю данных или любой другой вред;</p>
    <p>9.4. Общество не несет ответственности за любые виды убытков, произошедшие вследствие использования Клиентом
        Сервиса или отдельных услуг частей/функций Сервиса;</p>
    <p>9.5. Общество призывает Пользователей соблюдать осторожность и сохранять здравый смысл при использовании
        Сервиса. Клиент должен принять во внимание, что его контрагент может не иметь соответствующей дееспособности
        или выдавать себя за другое лицо.</p>
    <p>9.6. Клиент принимает на себя полную ответственность за свои действия.</p>
    <p>9.7. Если у Клиента возникают претензии к другому Пользователю в результате использования последним Сервиса,
        Клиент соглашается предъявлять эти требования самостоятельно и без вмешательства со стороны Общества, а
        также освобождает Общество (наряду с ее дочерними компаниями, аффилированными лицами, служащими,
        директорами, уполномоченными и сотрудниками) от всех требований, обязательств, компенсаций по возмещению
        ущерба, убытков, затрат и издержек, включая адвокатские гонорары, известных или неизвестных, возникших в
        результате или в связи с такими требованиями.</p>
    <p>9.8. Общество не несет ответственности за неисполнение или затруднения в исполнении обязательств по
        предоставлению Сервиса из-за непредвиденных обстоятельств непреодолимой силы, последствий которых невозможно
        избежать или преодолеть (таких как решения властей, трудовые споры, несчастные случаи, обрывы в общей
        системе коммуникаций и т.д.).</p>
    <p>9.9. Общество не несет ответственности за неполадки в работе программых и аппарадных средств Сервиса,
        вызванные техническими перебоями в работе оборудования и программного обеспечения.</p>
    <p>9.10. Ни при каких условиях Общество, руководство Общества, сотрудники и агенты, не несут ответственности за
        прямой, косвенный, случайный, специальный ущерб, убытки и выплаченные штрафные санкции любого характера
        (даже если Общество было предупреждено о возможности такого ущерба) в результате использования Сервиса
        Клиентом, включая без ограничения случаи, в которых ущерб стал результатом использования или неправильного
        использования Сервиса.</p>
    <p>10. ИНЫЕ ПОЛОЖЕНИЯ</p>
    <p>10.1. Настоящий Договор представляет собой договор между Клиентом и Обществом относительно порядка
        использования Сервиса, оказания Услуг Обществом,продажы/поставки Товаров и заменяет собой все предыдущие
        Соглашения между Клиентом и Обществом.</p>
    <p>10.2. Настоящий Договор регулируется и толкуется в соответствии с действующим законодательством Украины.
        Вопросы, не урегулированные настоящим Договором, подлежат разрешению в соответствии с действующим
        законодательством Украины. Все возможные споры, вытекающие из отношений, регулируемых настоящим Договором,
        разрешаются в порядке, установленном действующим законодательством Украины, по нормам украинского права.
        Везде по тексту настоящего Соглашения, если явно не указано иное, под термином «законодательство» понимается
        как законодательство Украины, так и законодательство места пребывания Клиента.</p>
    <p>10.3. Ввиду безвозмездности некоторых услуг Сервиса, оказываемых в рамках настоящего Соглашения, нормы о
        защите прав потребителей, предусмотренные действующим законодательством Украины, не могут быть применимыми к
        отношениям между Клиентом и Обществом.</p>
    <p>10.4. Ничто в настоящем Договоре не может пониматься как установление между Клиентом и Обществом агентских
        отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо
        каких-то иных отношений, прямо не предусмотренных настоящим Договором.</p>
    <p>10.5. Если по тем или иным причинам одно или несколько положений настоящего Соглашения будут признаны
        недействительными или не имеющими юридической силы, это не оказывает влияния на действительность или
        применимость остальных положений Соглашения.</p>
    <p>10.6. Бездействие со стороны Общества в случае нарушения Клиентом положений настоящего Соглашения не лишает
        Общество права предпринять соответствующие действия в защиту своих интересов позднее, а также не означает
        отказа Общества от своих прав в случае совершения в последующем подобных либо сходных нарушений.</p>
    <p>10.7. Настоящий Договор составлен на русском языке и в некоторых случаях может быть предоставлен Пользователю
        для ознакомления на другом языке. В случае расхождения русскоязычной версии Соглашения и версии Соглашения
        на ином языке, применяются положения русскоязычной версии Соглашения.</p>
    <p>РЕКВИЗИТЫ</p>
{% endblock %}
