{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block header %}{% endblock %}
{% block article_header %}{% endblock %}
{% block article_content %}
    <h1>Лицензия на использование поисковой системы Смартреспонсора</h1>
    <h2>1. Общие положения</h2>
    <p>1.1. ООО «Смартреспонсор» (далее — «Смартреспонсор») предлагает пользователю сети Интернет (далее –
        Пользователь) - использовать поисковую машину Смартреспонсора для поиска интересующей его информации,
        размещенной в сети Интернет. Сервис доступен по адресу: <a href="http://www.smartresponsor.com/"
                                                                   target="_blank" rel="noopener noreferrer">http://www.smartresponsor.com/</a>
        (далее – «Сервис»).</p>
    <p>1.2. Настоящие Условия представляют собой дополнение к Пользовательскому соглашению сервисов Смартреспонсора
        относительно порядка использования Сервиса. Во всем, что не предусмотрено настоящими Условиями, отношения
        между Смартреспонсором и Пользователем в связи с использованием Сервиса регулируются Пользовательским
        соглашением сервисов Смартреспонсора (<a href="https://smartresponsor.com/legal/rules/index.xml">https://smartresponsor.com/legal/rules/</a>),
        а также Политикой конфиденциальности (<a href="https://smartresponsor.com/legal/confidential/index.xml">https://smartresponsor.com/legal/confidential/</a>).
    </p>
    <p>1.3. Начиная использовать Сервис/его отдельные функции, Пользователь считается принявшим настоящие Условия, а
        также условия всех указанных выше документов, в полном объеме, без всяких оговорок и исключений. В случае
        несогласия Пользователя с какими-либо из положений указанных документов, Пользователь не вправе использовать
        Сервис.</p>
    <p>1.4. Настоящие Условия могут быть изменены Смартреспонсором без какого-либо специального уведомления, новая
        редакция Условий вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце
        адресу, если иное не предусмотрено новой редакцией Условий. Действующая редакция Условий всегда находится на
        странице по адресу:<a href="https://smartresponsor.com/legal/termsofuse/index.xml">https://smartresponsor.com/legal/termsofuse/</a>.
    </p>
    <p>1.5. В случае если Смартреспонсором были внесены какие-либо изменения в настоящие Условия, в порядке,
        предусмотренном п. 1.4. настоящих Условий, с которыми Пользователь не согласен, он обязан прекратить
        использование Сервиса.</p>
    <p>1.6. Все существующие на данный момент функции Сервиса, а также любое развитие их и/или добавление новых
        является предметом настоящих Условий.</p>
    <h2>2. Использования Сервиса. Отдельные функции Сервиса</h2>
    <p>2.1. Сервис предоставляется Пользователю на безвозмездной основе и предназначен исключительно для личного
        некоммерческого использования за исключением случаев, предусмотренных настоящей Лицензией, документами,
        предусмотренными п. 1.2. настоящей Лицензии, либо Условиями использования отдельных сервисов
        Смартреспонсора. Для использования Сервиса иными способами и для других целей Пользователю необходимо
        предварительно получить письменное согласие от Смартреспонсора на такое использование. Дополнительная
        информация может быть предоставлена Пользователю в случае обращения по адресу: <a
                href="mailto:support@xml.smartresponsor.com" target="_blank" rel="noopener noreferrer">support@xml.smartresponsor.com</a>.
    </p>
    <p>2.2. В случае использования Сервиса в коммерческих целях для оказания услуг по поиску и/или навигации по сети
        Интернет, Пользователь обязан уведомить об этом своего клиента и предоставить ему ссылку на Сервис
        Смартреспонсора (<a href="http://www.smartresponsor.com" target="_blank" rel="noopener noreferrer">www.smartresponsor.com</a>).
        Пользователь вправе разместить на своем личном или корпоративном сайте поисковую форму для передачи
        поисковых запросов в Смартреспонсор с обязательным соблюдением условий использования сервиса
        Смартреспонсор.Поиск для сайта (<a href="https://smartresponsor.com/legal/site_termsofuse/index.xml">https://smartresponsor.com/legal/site_termsofuse/</a>).
    </p>
    <p>2.3. Пользователь не вправе делать автоматические запросы к Сервису иначе как с соблюдением требований,
        изложенных в Условиях использования сервиса Смартреспонсор.XML (<a
                href="https://smartresponsor.com/legal/xml/index.xml">https://smartresponsor.com/legal/xml/</a>).
    </p>
    <p>2.4. Смартреспонсор оставляет за собой право не обслуживать запросы от любых Пользователей, веб-сайтов и
        программ, нарушающих условия настоящей Лицензии.</p>
    <p>2.5. Условия использования функции предупреждения о потенциально опасных веб-сайтах.</p>
    <p>2.5.1. Функция предупреждения пользователя о веб-сайтах, содержащих страницы, посещение которых может быть
        потенциально опасно для Пользователя, например, страницы, содержащие вредоносный код (далее – «Функция»),
        предоставляется Смартреспонсором на условиях «как есть». Информация о потенциальной опасности того или иного
        сайта, а также о предполагаемой степени такой опасности и ее характере (далее – Информация) предоставляется
        партнерами Смартреспонсора, Смартреспонсор не дает пояснений касательно оснований отнесения веб-сайта к
        потенциально опасным. Смартреспонсор не гарантирует соответствие Функции целям и ожиданиям Пользователя,
        бесперебойную и безошибочную работу Функции, а также не гарантирует точность Информации (в частности, не
        гарантирует, что веб-сайты, не помеченные как потенциально опасные, действительно не содержат никакого
        вредоносного кода, и наоборот). Пользователь должен самостоятельно оценивать риски и самостоятельно нести
        всю ответственность за свои действия, связанные с использованием Информации. Смартреспонсор не несет
        ответственности и не возмещает никакой ущерб, прямой или косвенный, причиненный владельцу сайта,
        Пользователю или третьим лицам в результате использования или невозможности использования Функции, а также в
        результате использования или невозможности использования Информации, включая, но не ограничиваясь этим,
        убытки, вызванные неточностью предоставляемой Информации.</p>
    <p>2.5.2. Все замечания и/или претензии, связанные с работой Функции, должны направляться через форму обратной
        связи: <a href="https://smartresponsor.com/support/search/troubleshooting/feedback.xml" target="_blank"
                  rel="noopener noreferrer">https://smartresponsor.com/support/search/troubleshooting/feedback.xml</a>.
    </p>
    <p>2.5.3. Смартреспонсор имеет право без уведомления по собственному усмотрению прекратить или приостановить
        предоставление Информации без объяснения причин.</p>
    <p>2.6. Смартреспонсор оставляет за собой право на свое усмотрение ограничить доступ Пользователя к Сервису (или
        к определенным функциям Сервиса, если это возможно технологически) с использованием его учетной записи или
        полностью заблокировать учетную запись Пользователя при неоднократном нарушении настоящих Условий (в случае
        если Пользователь осуществляет доступ к Сервису под учетной записью), либо применить к Пользователю иные
        меры с целью соблюдения требований законодательства или прав и законных интересов третьих лиц.</p>
    <h2>3. Индексирование веб-сайтов</h2>
    <p>3.1. Смартреспонсор индексирует страницы веб-сайтов, созданные третьими лицами. Смартреспонсор не отвечает за
        качество и содержание таких страниц. Индексирование производится роботом поисковой машины Смартреспонсора в
        автоматическом режиме в соответствии с определенными алгоритмами, что не предполагает собой предварительную
        или последующую оценку содержания страниц веб-сайтов (модерацию) на предмет его соответствия нормам
        законодательства, этики или морали, а также иную цензуру. Смартреспонсор также не отвечает за
        наличие/отсутствие, содержание и качество любых предложений об оказании услуг, приобретении товаров и т.д.,
        которые могут быть доступны Пользователю на веб-сайтах третьих лиц, проиндексированных Смартреспонсором, а
        также за любого рода убытки, которые Пользователь может понести, воспользовавшись такими предложениями.</p>
    <p>3.2. Изменения на страницах веб-сайтов отслеживаются роботом Смартреспонсора в автоматическом режиме
        (производится переиндексирование) в целях актуализации поисковой выдачи. Однако любые размещенные на
        страницах веб-сайтов третьих лиц информация, материалы могут быть изменены в любой момент владельцем той или
        иной страницы. Смартреспонсор не отслеживает такие изменения для каждого из веб-сайтов и не отвечает за
        них.</p>
    <p>3.3. Смартреспонсор не гарантирует Пользователю, что ответ на его поисковый запрос будет исчерпывающим и что
        Пользователь получит всю имеющуюся в сети Интернет информацию по интересующей его теме, а также не несет
        ответственность за абсолютную точность/актуальность ссылок на страницы веб-сайтов, представленных в
        поисковой выдаче Сервиса по определенному запросу Пользователя.</p>
    <p>3.4. Смартреспонсор подключает к базе Сервиса все русскоязычные и ориентированные на Россию страницы
        веб-сайтов. При этом Смартреспонсор вправе самостоятельно решать, какой веб-сайт должен и какой не должен
        входить в базу Сервиса.</p>
    <p>3.5. Упорядочивание результатов, как часть процесса индексирования и поиска, происходит полностью
        автоматически в соответствии с установленными критериями релевантности, которые могут меняться для повышения
        качества поиска по усмотрению Смартреспонсора. Смартреспонсор понимает релевантность как наилучшее
        соответствие поисковой выдачи по определенному запросу интересам пользователей, ищущих информацию, что может
        в общем случае не совпадать с интересами владельцев сайтов или отдельных Пользователей.</p>
    <p>3.6. Смартреспонсор не манипулирует позициями веб-сайтов в поисковой выдаче Сервиса ни по каким запросам
        Пользователя (ключевым словам), никогда и никому не продает такие позиции и не гарантирует неизменность
        позиции того или иного веб-сайта в поисковой выдаче по определенному запросу Пользователя.</p>
    <p>3.7. «Поисковый спам» — это попытки обмана поисковой системы Сервиса и манипулирования ее результатами с
        целью изменения позиции того или иного веб-сайта в результатах поиска. Веб-сайты, использующие «поисковый
        спам», могут быть понижены при ранжировании или исключены из базы Сервиса из-за невозможности их корректного
        ранжирования.</p>
    <p>3.8. Смартреспонсор не комментирует исключение веб-сайтов из базы Сервиса и/или изменение их позиции, не
        уведомляет о таких действиях, и не дает никаких гарантий и сроков на повторное их включение в базу
        Сервиса/изменение их позиции.</p>
    <p>3.9. Смартреспонсор также вправе не сообщать исчерпывающий список методов «поискового спама», которые могут
        вызвать исключение веб-сайта из базы Сервиса и/или изменение его позиции. Более подробную информацию можно
        найти в следующем документе: «Чем отличается качественный сайт от некачественного с точки зрения
        Смартреспонсора?» (<a
                href="https://smartresponsor.com/support/webmaster/yandex-indexing/webmaster-advice.xml"
                target="_blank" rel="noopener noreferrer">https://smartresponsor.com/support/webmaster/yandex-indexing/webmaster-advice.xml</a>)
    </p>
    <h2>4. Конфиденциальность и приватность информации</h2>
    <p>4.1. Взаимоотношения Пользователя и Смартреспонсора в отношении всей информации, которую Смартреспонсор может
        получить о Пользователе во время использования им Сервиса, регламентируется Политикой конфиденциальности (<a
                href="https://smartresponsor.com/legal/confidential/index.xml">https://smartresponsor.com/legal/confidential/</a>).
    </p>
    <p>4.2. Смартреспонсор индексирует страницы веб-сайтов, находящиеся в открытом доступе в сети Интернет — те
        страницы, которые доступны при переходе по ссылке, без ввода логина и пароля, и индексирование которых не
        запрещено в robots.txt соответствующего веб-сайта (подробную информацию можно найти в следующем документе:
        <a href="http://help.smartresponsor.com/webmaster/controlling-robot/robots-txt.xml" target="_blank"
           rel="noopener noreferrer">http://help.smartresponsor.com/webmaster/controlling-robot/robots-txt.xml</a>).
        Претензии по поводу наличия в базе Сервиса страниц веб-сайтов, являющихся открытыми в этом смысле, не
        принимаются.</p>
    <h2>5. Интерактивные элементы поиска</h2>
    <p>5.1. Смартреспонсор может размещать на странице, содержащей поисковую выдачу, интерактивные элементы поиска в
        одной из описанных ниже форм либо в нескольких формах одновременно:</p>
    <p>5.1.1. Исключен.</p>
    <p>5.1.2. Информационные блоки, содержащие данные, с которыми Смартреспонсор предлагает ознакомиться
        Пользователю независимо от ознакомления с содержанием выдачи. Эти информационные блоки могут быть
        представлены в виде саджеста (быстрого ответа на поисковый запрос Пользователя в строке для ввода поискового
        запроса), либо в виде блока в любом месте страницы, не занятом поисковой выдачей, либо иным способом с
        учетом правил, установленных настоящим пунктом. Такие блоки создаются и размещаются Смартреспонсором и не
        являются частью поисковой выдачи. Расположение таких блоков на странице, содержащей выдачу, производится с
        обособлением таких блоков от выдачи: при помощи отличий в дизайне такого блока и выдачи и/или при помощи
        расположения блока вне выдачи, либо иными средствами.</p>
    <p>5.2. Интерактивные элементы поиска не оказывают влияние на работу функционирующих без участия человека
        автоматизированных алгоритмов поиска и не могут квалифицироваться как инструмент для выделения сайтам
        третьих лиц каких-либо приоритетов и преимуществ в ранжировании результатов поиска.</p>
    <p>&nbsp;</p>
    <p><em>Дата публикации 20.01.2016 г.</em></p>
    <p><em>Предыдущая версия документа: <a href="https://smartresponsor.com/legal/termsofuse/22102013/index.xml">https://smartresponsor.com/legal/termsofuse/22102013/</a></em>
    </p>
{% endblock %}
