{% extends 'base.html.twig' %}
{% block title %}Об основателе | Обо мне{% endblock %}
{% block header %}{% endblock %}
{% block article_header %}{% endblock %}
{% block article_content %}
    <h1>Об основателе | Обо мне</h1>
{% endblock %}
