{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block header %}{% endblock %}
{% block article_header %}{% endblock %}
{% block article_content %}
    <p>Приложение 3</p>
    <p>к Соглашению</p>
    <p>ДОГОВОР</p>
    <p>купли-продажи</p>
    <p>1. ОБЩИЕ ПОЛОЖЕНИЯ</p>
    <p>1.1. Общество с ограниченной ответственностью "СМАРТРЕСПОНСОР", далее по тексту - "Продавец", в лице
        директора Тищенко Александра Александровича, действующего на основании Устава и Соглашения с одной стороны,
        и любое полностью дееспособное физическое лицо, принявшее и действующее на основании Соглашения, далее по
        тексту - "Покупатель", заключили настоящий договор купли-продажи. Вместе, далее по тексту - "Стороны", а
        каждая отдельно, далее по тексту - "Сторона".</p>
    <p>2. ПРЕДМЕТ ДОГОВОРА</p>
    <p>2.1. Продавец обязуется передать, а Покупатель принять и оплатить Товары в количестве и ассортименте,
        указанном Продавцом в Заказе.</p>
    <p>2.2. Заказ, согласовывается Сторонами, и оформляется в виде Приложения к настоящему Договору.</p>
    <p>2.3. Согласование Заказа допускается посредством Сервиса.</p>
    <p>2.4. В Заказе указывается модель, количество, размер, цветовая гамма, цена Товара и сроки передачи. Заказ
        является неотъемлемой частью настоящего Договора.</p>
    <p>2.5. Цена Товара устанавливается по согласованию Сторон, и указана в национальной валюте Продавца.</p>
    <p>3.ПРАВА, ОБЯЗАННОСТИ И ОТВЕТСТВЕННОСТЬ СТОРОН</p>
    <p>3.1. ПРАВА ПРОДВЦА</p>
    <p>3.1.1. Продавец имеет право не приступать к выполнению Заказа, до письменного согласования Заказа с
        Покупателем.</p>
    <p>3.1.2. В случае нарушения условий оплаты Покупателем, Продавец вправе по своему усмотрению увеличить срок
        передачи Товара, увеличить стоимость Товара, произвести уменьшенное количество Товара согласно оплаченной
        сумме, либо расторгнуть настоящий Договор.</p>
    <p>3.2. ОБЯЗАННОСТИ ПРОДАВЦА</p>
    <p>3.2.1. Продавец обязуется передать Покупателю Товар в соответствии с Заказом.</p>
    <p>3.2.2. В случае возникновения обстоятельств, препятствующих выполнению Заказа, Продавец должен немедленно
        уведомить об этом Покупателя для дальнейшего согласования последующих действий.</p>
    <p>3.2.3. При обнаружении внутриупаковочной недостачи, после надлежащего оформления факта такой недостачи
        Продавец обязуется доставить недостающий Товар.</p>
    <p>3.3. ОТВЕТСТВЕННОСТЬ ПРОДАВЦА</p>
    <p>3.3.1. В случае нарушения сроков передачи Товара по утвержденным срокам Продавец возвращает Покупателю полную
        стоимость Товара по условиям Договора.</p>
    <p>3.4. ПРАВА ПОКУПАТЕЛЯ</p>
    <p>3.4.1. В случае продажи Товара с производственными дефектами Покупатель вправе потребовать замену
        некачественного Товара на качественный Товар той же модели и спецификаций за счет Продавца.</p>
    <p>3.2. ОБЯЗАННОСТИ ПОКУПАТЕЛЯ</p>
    <p>3.2.1. Покупатель обязуется предварительно оплатить Заказ в размере 100% (сто) общей стоимости Заказа и
        принять Товар и в соответствии с п.4 настоящего Договора.</p>
    <p>3.2.2. При отказе Покупателя (полностью или частично) от Заказа, Покупатель должен немедленно уведомить
        Продавца о принятом решении, принять произведенный на момент отказа от Заказа Товар , выплатить Продавцу все
        затраты связанные с передачей Товара, и компенсировать все возникшие в связи с этим убытки в размере 10%
        (десять) от суммы, возникшей в результате разницы между количеством заказанного и покупаемого в
        действительности Товара.</p>
    <p>4. ПОРЯДОК ПЕРЕДАЧИ ТОВАРА</p>
    <p>4.1. Доставка Товара производится Продавцом за счет Покупателя.</p>
    <p>5. ЦЕТА ТОВАРА И ПОРЯДОК РАСЧЕТОВ</p>
    <p>5.1. Цена на Товар устанавливается в национальной валюте Продавца и указывается в Заказе.</p>
    <p>5.2. Предоплата в размере 100 % (сто) от стоимости Товара, согласно Заказу, осуществляется Покупателем в
        течение 3 (три) банковских дней с момента получения счёта на оплату от Продавца.</p>
    <p>5.3. Расчет за Товар производятся непосредственно между Покупателем и Продавцом, если иное не предусмотрено
        отдельными соглашениями Сторон.</p>
    <p>6. КАЧЕСТВО И КОЛИЧЕСТВО ТОВАРА</p>
    <p>6.1. Товар считается принятым Покупателем и переданным Продавцом по количеству – согласно количеству мест,
        указанных в накладной.</p>
    <p>6.2. Окончательный прием Товара по качеству производится в соответствии с условиями ГС "как есть".</p>
    <p>6.3. Качество товара должно соответствовать всем требованиям нормативно-технической документации и
        сертификатам, предоставленным Продавцом. Претензии по качеству принимаются Продавцом при условии, что Товары
        не были в употреблении дольше 14 дней.</p>
    <p>7.ФОРС-МАЖОР</p>
    <p>7.1. При наступлении и прекращении обстоятельств непреодолимой силы, препятствующих исполнению настоящего
        Договора, Сторона, для которой создалась невозможность исполнения обязательств по настоящему Договору,
        должна немедленно известить другую Сторону, приложив соответствующую справку Торгово-промышленной
        палаты.</p>
    <p>Наступление форс-мажорных обстоятельств влечет увеличение срока исполнения Договора на период действия
        таковых. В случае, когда указанные обстоятельства продолжают действовать более 3-х месяцев, или при
        наступлении таких обстоятельств очевидно, что такие или последствия таких будут действовать более этого
        срока, то каждая из Сторон имеет право отказаться от исполнения обязательств по настоящему Договору и в этом
        случае ни одна из Сторон не имеет право на возмещение другой Стороной возможных убытков.</p>
    <p>8. РАССМОТРЕНИЕ СПОРОВ.</p>
    <p>8.1. Все споры и разногласия, которые могут возникнуть из настоящего Договора обязаны по возможности
        разрешаться путем мирных переговоров между Сторонами.</p>
    <p>8.2. В случае невозможности разрешения споров путем мирных переговоров Стороны передают такие на рассмотрение
        суд .</p>
    <p>9. ИНЫЕ ПОЛОЖЕНИЯ</p>
    <p>9.1. Настоящий Договор может быть расторгнуть Продавцом в случае нарушения условий Договора Покупателем.
        Одностороннее расторжение Договора осуществляется путем письменного уведомления, с указанием срока
        прекращения действия Договора. Расторжение Договора не освобождает Стороны от исполнения обязательств по
        оплате Товаров, пени и возмещения понесенных расходов и убытков. При неполучении ответа на уведомление в 2-х
        недельный срок с момента отправления уведомления, Договор считается расторгнутым.</p>
    <p>9.2. Стороны обязаны сообщать друг другу об изменении своего юридического адреса, номеров телефонов,
        телефакса в двухнедельный срок.</p>
    <p>9.3. С момента подписания настоящего Договора вся предыдущая переписка, документы (за исключением Соглашения)
        и переговоры между Сторонами по вопросам, являющимся предметом настоящего Договора, теряют силу.</p>
    <p>9.4. Любые изменения и дополнения к настоящему Договору действительны, если такие опубликованы в
        соответствующем разделе. Приложения к настоящему Договору составляют его неотъемлемую часть.</p>
    <p>9.5. Договор вступает в силу с момента его подписания и действует до момента выполнения обязательств по
        настоящему Договору.</p>
    <p>10. РЕКВИЗИТЫ СТОРОН</p>
{% endblock %}
