body {
    background-color: lightgray;
    background-image: url(/public/mandala.svg);
    -o-background-size: 10% 10%;
    -webkit-background-size: 10% 10%;
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;

}
