{% extends 'base.html.twig' %}

{% block title %}New Products{% endblock %}

{% block body %}
    <h1>Create new Project</h1>

    {{ include('product/product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">back to list</a>
{% endblock %}
