<div class="modal fade" id="managePermissionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="managePermissionForm" action="{{ path('admin_sync_permissions') }}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Sync Permissions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Select the permissions that should be assigned. Unchecked ones will be removed.</p>
                    <div id="permissionsContainer">
                        <p>Loading permissions…</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
