{% for type, message in app.flashes %}
    {% for message in message %}
        <div class="toast-container position-absolute p-3 bottom-0 end-0">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    {#                <img src="..." class="rounded me-2" alt="...">#}
                    <strong class="me-auto"> </strong>
                    {#                <small class="text-muted">11 мин. назад</small>#}
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
                </div>
                <div class="toast-body">
                    {{ type }}
                    {{ message }}
                    <div class="mt-2 pt-2 border-top">
                        {#                    <button type="button" class="btn btn-primary btn-sm">Ввести код подтверждения регистрации</button>#}
                        <button type="button" class="btn btn-secondary btn-sm btn-close" data-bs-dismiss="toast"></button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
