<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" id="msform-screen" class="btn btn-secondary"><i class="fad fa-arrows-alt-v"></i></button>
    <button type="button" id="col2" class="btn btn-secondary"><i class="fas fa-th"></i></button>
    <button type="button" id="col3" class="btn btn-secondary"><i class="fad fa-line-columns"></i></button>
    <button type="button" id="full-screen" class="btn btn-secondary"><i class="fad fa-arrows"></i></button>
</div>