<label class="btn btn-secondary p-1 active">
    <input type="radio" name="options" id="col1" autocomplete="off" checked>
    <i class="fad fa-th"></i>
</label>
<label class="btn btn-secondary p-1">
    <input type="radio" name="options" id="col2" autocomplete="off">
    <i class="fas fa-th"></i>
</label>
<label class="btn btn-secondary p-1">
    <input type="radio" name="options" id="col3" autocomplete="off">
    <i class="fad fa-line-columns"></i>
</label>
<label class="btn btn-secondary p-1">
    <input type="radio" name="options" id="col4" autocomplete="off">
    <i class="fad fa-list-ul"></i>
</label>
<label class="btn btn-secondary p-1">
    <input type="radio" name="options" id="full-screen" autocomplete="off">
    <i class="fad fa-arrows"></i>
</label>