{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block header %}{% endblock %}
{% block article_header %}{% endblock %}
{% block article_content %}
    <h1>Карьера в iSponsor</h1>

    <p>...Я Спонсор! - это универсальная, надежная, современная и стабильная площадка для общения и поиска решений
        жизненных трудностей человечества. В связи с постоянным увеличением количества пользователей и Спонсоров а
        также постоянным развитием новых направлений, одной из основных задач управления по работе с персоналом
        является поиск перспективных, квалифицированных сотрудников и создание для них максимально благоприятных
        условий труда и отдыха. Если у Вас есть желание работать в ...Я Спонсор!, пожалуйста, обратитесь к нам по
        указанным на сайте реквизитам.</p>
    <p>С нами легко начинать</p>
    <p>Наш проект испытывает колоссальную потребность в работе авторов, редакторов, публикаторов. Эти направления
        предполагают наличие умений работать с компьютером (Офисными приложениями и Интернетом) Эти работы выполняются
        удаленно по четкому техническому заданию и за обусловленную заранее оплату. Такой вид сотрудничества очень
        распространен и имеет много преимуществ перед работой в офисе. Чтобы начать свою карьеру в ...Я Спонсор!" с
        этого направления, достаточно обратиться к нам и изъявить свои пожелания.</p>
    <p>...Я Спонсор! развивает личность</p>
    <p>Как никакой другой проект в мире, будь-то коммерческий или благотворительный, ...Я Спонсор! развивает очень много
        человеческих качеств. &nbsp;Очень много природных задатков у начинающих карьеру раскрываются именно в ...Я
        Спонсор! Мы делаем все сами, своими руками: Звоним, пишем, создаем, носим, строим, общаемся, исследуем,
        дискуссируем и т.д. Мы целиком ориентированы на то, чтобы все наши сотрудники не теряли человечность, не
        становились человеко-машинами. Характерное отличие нашей работы и работы вместе с нами заключается в том, что мы
        не наказываем за ошибки, как бы велики они не были.</p>
{% endblock %}
