{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block header %}{% endblock %}
{% block article_header %}{% endblock %}
{% block article_content %}
    <p>Найменування отримувача: ТОВ СМАРТРЕСПОНСОР ТОВ</p>
    <p>Код отримувача: 41823563</p>
    <p>Рахунок отримувача: 26008053729577</p>
    <p>Назва банку: ПАТ КБ Приватбанк</p>
    <p>Код Банку (МФО): 304795</p>
    <hr>
    <p>Контактный тел. +380662621456</p>
    <p>e-mail: <a href="mailto:taa0662621456@gmail.com">taa0662621456@gmail.com</a></p>
    <p>Адрес: ул. Гагарина, д.118б, г.Северодонецк, Луганская обл, Украина, индекс 93412</p>
    <p></p>
    <p><img src="https://images.smartresponsor.com/images/smartresponsor/docs/SCAN0900.JPG"
            alt="Свидетельство о регистрации ООО СМАРТРЕСПОНСОР" style="width: 100%;"></p>
    <p><img src="https://images.smartresponsor.com/images/smartresponsor/docs/SCAN0902.JPG"
            alt="Свидетельство о регистрации ООО СМАРТРЕСПОНСОР" style="width: 100%;"></p>
{% endblock %}
