{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}
{% block header %}{% endblock %}
{% block article_header %}{% endblock %}
{% block article_content %}
    <p>Дополнение 4</p>
    <p>к Соглашению</p>
    <p>ДОГОВОР ПОСТАВКИ</p>
    <p>1. ОБЩИЕ ПОЛОЖЕНИЯ</p>
    <p>1.1. Общество с ограниченной ответственностью "СМАРТРЕСПОНСОР", далее по тексту - "Поставщик", в лице
        директора Тищенко Александра Александровича, действующего на основании Устава и Соглашения с одной стороны,
        и любое полностью дееспособное физическое лицо-предприниматель/юридическое лицо, принявшее и действующее на
        основании Соглашения, далее по тексту - "Покупатель", заключили настоящий договор поставки, далее по тексту
        - "Договор". Вместе, далее по тексту - "Стороны", а каждая отдельно, далее по тексту - "Сторона".</p>
    <p>2. ПРЕДМЕТ ДОГОВОРА</p>
    <p>2.1. Продавец обязуется оставить Покупателю Товар, а Покупатель принять и оплатить Товары в порядке и на
        условиях, предусмотренных настоящим Договором.</p>
    <p>2.2. Количество, ассортимент и цена Товара согласовываются Сторонами в соответствии с условиями настоящего
        Договора и отражаются в расходных накладных на каждую партию Товара. Расходные накладные, подписанные
        уполномоченными представителями Сторон и скрепленные печатями Сторон (кроме тех случаев, когда Покупателем
        предоставляется доверенность), прилагаются к настоящему Договору и являются его неотъемлемой частью.&nbsp;&nbsp;</p>
    <p>2.3. Согласование Заказа допускается посредством Сервиса.</p>
    <p>2.4. В Заказе указывается модель, количество, размер, цветовая гамма, цена Товара и сроки передачи. Заказ
        является неотъемлемой частью настоящего Договора.</p>
    <p>2.5. Цена Товара устанавливается по согласованию Сторон, и указанна в национальной валюте Продавца.</p>
    <p>3. ЦЕНА ДОГОВОРА И ПОРЯДОК РАСЧЕТОВ</p>
    <p>3.1. Цена единицы Товара и общая стоимость партии Товара указываются в счете-фактуре и расходной накладной,
        которые являются неотъемлемой частью настоящего Договора.</p>
    <p>3.2. Общая сумма настоящего Договора определяется согласно расходным накладным и счетам-фактурам, которые
        являются неотъемлемыми частями настоящего Договора.</p>
    <p>3.3. Оплата за Товар производится Покупателем на основании выставленного Поставщиком счета-фактуры на сумму
        поставленной партии Товара, путем перечисления денежных средств на расчетный счет Поставщика либо внесение
        наличных денежных средств в кассу предприятия.</p>
    <p>3.4. В случае доставки партии Товара Поставщиком (перевозчиком, названным Поставщиком) на склад Покупателя,
        расходы на транспортировку Товара включаются в стоимость Товара, которая отражается в счёте-фактуре и
        расходной накладной.</p>
    <p>3.5. Покупатель с момента выставления счёта-фактуры Поставщиком в течение 5 (пять) банковских дней производит
        предоплату за Товар в размере 100 % (сто) от стоимости партии Товара согласно выставленному
        счёту-фактуре.</p>
    <p>3.6. В случае изменения цены на партию Товара в период действия настоящего Договора, Поставщик уведомляет
        Покупателя об этом путём выставления уточнённого счёта-фактуры.</p>
    <p>4. ПОРЯДОК И СРОКИ ПОСТАВКИ</p>
    <p>4.1. Поставка партии Товара, осуществляется Поставщиком на условиях DDP. Пунктом поставки Товара Покупателю в
        данном случае является склад Покупателя.</p>
    <p>Условия поставки для каждой партии Товара, оговоренные в данном пункте Договора, указываются Покупателем в
        заявке на поставку партии Товара, которая оформляется в соответствии с п. 4.2. настоящего Договора.</p>
    <p>4.2. Поставка Товара осуществляется партиями. Партии формируются на основании предварительной заявки
        Покупателя на поставку партии Товара, подтвержденной Поставщиком. Оформление заявки осуществляется
        Покупателем в порядке, предусмотренном настоящим Договором. В заявке на поставку партии Товара
        указывается:</p>
    <p>номер, дата заявки, ссылка на настоящий Договор;</p>
    <p>наименование Поставщика;</p>
    <p>наименование Покупателя, в том числе должность, фамилия, имя, отчество и номер телефона лица, подающего
        заявку;</p>
    <p>наименование каждой ассортиментной позиции Товара;</p>
    <p>количество единиц по каждой ассортиментной позиции Товара;</p>
    <p>условия и пункт поставки партии Товара, предусмотренные п. 4.1. настоящего Договора.</p>
    <p>Покупатель оставляет за собой право предоставления Поставщику заявки в устном виде, по телефону или путём
        направления электронного письма на электронный адрес Поставщика, с указанием условий поставки партии Товара,
        предусмотренных данным пунктом настоящего Договора.</p>
    <p>4.3. Заявка Покупателя на поставку партии Товара считается принятой Поставщиком к исполнению в случае
        направления Покупателю по факсу, почтой или через представителя Покупателя счёта-фактуры, подписанного
        Поставщиком и скреплённого его печатью на весь Товар, указанный в заявке.</p>
    <p>В случае если Поставщик не может поставить Товар, указанный в заявке (в том числе и по конкретной
        ассортиментной позиции), он обязан в течение 3 (три) рабочих дней с момента получения заявки уведомить об
        этом Покупателя. В таком случае Стороны имеют право устно или письменно в свободной форме согласовать
        возможность поставки (при условии наличия данной единицы Товара на складе Поставщика) определённого Товара с
        целью составления Покупателем заявки на поставку партии Товара на тот ассортимент и количество Товара,
        который может быть поставлен Поставщиком в соответствии с условиями настоящего Договора.</p>
    <p>4.4. Поставщик обязуется осуществить поставку партии Товара Покупателю в течение срока, указанного в Заявке с
        даты перечисления денежных средств на расчётный счёт Поставщика, в порядке и на условиях, предусмотренных п.
        2.5. настоящего Договора.</p>
    <p>4.5. Проверка соблюдения Поставщиком условий настоящего Договора относительно ассортимента, количества и
        качества поставленного Товара, осуществляется Покупателем в момент передачи Покупателю Товара в пункте
        поставки.</p>
    <p>Приемка Товара Покупателем по количеству и качеству осуществляется в соответствии с требованиями Инструкций
        П-6 и П-7, утвержденных Госарбитражем СССР соответственно 15.06.1965 г. и 25.04.1966 г.</p>
    <p>4.6. Товар отпускается Поставщиком только при наличии доверенности получателей, оформленной в соответствии с
        Инструкцией о порядке регистрации выданных, возвращенных и использованных доверенностей на получение
        ценностей, утвержденной приказом Минфина Украины от 16.05.1996 г. № 99.</p>
    <p>4.7. Риск случайной гибели, утраты, повреждения и иной порчи Товара несет Покупатель, с момента поставки
        партии Товара.</p>
    <p>Моментом поставки Товара Покупателю является дата передачи Товара, указанная в расходной накладной,
        подписанной уполномоченными представителями обеих сторон.</p>
    <p>4.8. Покупатель обязан надлежащим образом принять партию Товара, в том числе передать оформленные в
        установленном законом порядке сопроводительные документы Поставщику в момент поставки партии Товара.</p>
    <p>4.9. Товар считается переданным Поставщиком и принятым Покупателем по количеству и качеству с момента
        подписания уполномоченными представителями обеих сторон расходной накладной.</p>
    <p>Качество, упаковка Товара.</p>
    <p>4.10. Поставщик обязан передать Покупателю Товар, пригодный для цели, с которой Товар такого рода обычно
        используется. Качество поставляемого Товара должно соответствовать образцам, продемонстрированным Покупателю
        в выставочном зале Поставщика.</p>
    <p>4.11. Товар предоставляется в таре или упакован способом обычным для перевозки автомобильным транспортом
        данного вида Товара.</p>
    <p>4.12. В случае обнаружения Покупателем скрытых дефектов поставленного Товара, которые невозможно было выявить
        при приёмке Товара в пункте поставки, Покупатель имеет право в течение 14 календарных дней с даты подписания
        уполномоченными представителями обеих сторон расходных накладных, в письменном виде предъявить претензию
        Поставщику.</p>
    <p>5. ОТВЕТСТЕННОСТЬ СТОРОН</p>
    <p>5.1. За невыполнение или ненадлежащее выполнение обязательств надтоящего Договора, Стороны несут
        ответственность в соответствии с условиями настоящего Договора и действующим законодательством Украины.</p>
    <p>5.2. В случае нарушения Поставщиком п. 4.4. настоящего Договора, Поставщик возвращает Покупателю оплату
        Товара размере 100 % (сто) от стоимости непоставленного Товара.</p>
    <p>5.3. За необоснованный отказ от приемки партии Товара от Поставщика, когда такой отказ не связан с не
        качественностью, некомплектностью Товара, Покупатель выплачивает Поставщику штраф в размере 100 % (сто) от
        стоимости заказанной партии Товара, от которой отказался Покупатель.</p>
    <p>6. ФОРС-МАЖОР</p>
    <p>6.1. При наступлении обстоятельств непреодолимой силы и, как следствие, невозможности полностью или частично
        выполнить свои обязательства по настоящему Договору любой из сторон, срок исполнения обязательств
        отодвигается соразмерно времени, в течение которого будут действовать такие обстоятельства и их
        последствия.</p>
    <p>6.2. Действие обстоятельств непреодолимой силы должно быть подтверждено ТПП Украины или организацией, на
        которую Правительством возложены действия по ликвидации чрезвычайных обстоятельств.</p>
    <p>6.3. Сторона, для которой создалась невозможность исполнения обязательств по настоящему Договору, должна
        немедленно (не позднее 3-х календарных дней после наступления или прекращения их действия) известить другую
        сторону о наступлении или прекращении таких обстоятельств.</p>
    <p>6.4. Если форс-мажорные обстоятельства длятся более 2-х месяцев, то стороны могут принять решение о замене
        сроков выполнения условий настоящего Договора, или о расторжении, о чем составляется дополнительное
        соглашение.</p>
    <p>7. ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ</p>
    <p>7.1. Все споры и разногласия, возникшие по настоящему Договору или в связи с ним, должны регулироваться путем
        мирных переговоров.</p>
    <p>7.2. В случае если стороны не достигнут согласия путем мирных переговоров, споры и разногласия подлежат
        рассмотрению в судебном порядке в соответствии с действующим законодательством Украины.</p>
    <p>8. ПРОЧИЕ УСЛОВИЯ</p>
    <p>8.1. Настоящий Договор вступает в силу с момента принятие Покупателем Соглашения и действует до полного
        выполнения Сторонами обязательств по настоящему Договору.</p>
    <p>8.2. Настоящий Договор составлен на русском языке в двух экземплярах, имеющих одинаковую юридическую силу, по
        одному для каждой из Сторон.</p>
    <p>8.3. Изменения, дополнения, приложения и дополнительные соглашения к настоящему Договору, подписанные
        уполномоченными представителями обеих Сторон и скрепленные печатями сторон являются его неотъемлемой
        частью.</p>
    <p>8.4. Ни одна из Сторон не вправе передавать свои права и обязанности по настоящему Договору третьей Стороне
        без письменного согласия другой Стороны.</p>
    <p>8.5. Все уведомления Сторон, если Сторонами не установлено иное, должны быть составлены в письменной форме на
        русском или украинском языках и направлены факсом или заказным письмом по адресу, указанному ниже в
        реквизитах сторон или вручены лично уполномоченным представителям Сторон под роспись. Уведомление является
        действительным с момента его получения адресатом.</p>
    <p>8.6. Стороны пришли к соглашению о том, что вся информация, касающаяся настоящего Договора, не является
        конфиденциальной.</p>
    <p>8.7. Покупатель несет ответственность за предоставленные полномочия лицу, которое подписывает расходные
        накладные и другие документы по настоящему Договору от имени Покупателя, при условии, если на таком
        документе или документе, подтверждающем его полномочия, существует оттиск печати Покупателя или оттиск
        печати филиала Покупателя. В данном случае Покупатель не имеет право предъявлять претензии (требования), к
        вышеперечисленным документам как к таковым, которые подписаны не уполномоченным представителем,
        действовавшим от имени Покупателя, и отказываться от их исполнения.</p>
    <p>8.8. Покупатель не имеет права предлагать, предоставлять или передавать неправомерную выгоду (денежные
        средства или иное имущество, преимущества, льготы, скидки, услуги, нематериальные активы, подарки,
        подарочные сертификаты и т.д.) работникам Поставщика за осуществление действий или бездействий в интересах
        Покупателя или третьих лиц (коммерческий подкуп). В случае установления Поставщиком подобных фактов,
        Покупатель обязан выплатить Поставщику компенсацию в сумме фактически нанесённого ущерба (но не менее 100
        000 (ста тысяч) гривен за каждый выявленный факт подкупа), в течение 3 (трёх) банковский дней от даты
        получения соответствующего уведомления от Поставщика. При этом Поставщик также имеет право применить любые
        правовые способы для восстановления деловой репутации, в том числе инициировать возбуждение уголовного дела
        по факту коммерческого подкупа Покупателем работников Поставщика (ст. 368³ УК Украины).</p>
    <p>Кроме того, при установлении факта коммерческого подкупа Поставщик имеет право в одностороннем порядке
        расторгнуть настоящий Договор, а Покупатель обязан перечислить на текущий счёт Поставщика в полном объёме
        денежные средства за фактически поставленный Товар в течение 3 (три) банковских дней от даты получения
        уведомления о расторжении настоящего Договора.</p>
    <p>При этом за нарушение сроков возмещения общей стоимости Товара, Покупатель обязан выплатить Поставщику сумму
        долга с учётом установленного индекса инфляции за всё время просрочки, а также 25% годовых от просроченной
        суммы.</p>
    <p>8.9. Покупатель обязуется предоставлять соответствующую помощь для расследования недобросовестных соглашений
        между работниками Поставщика и Покупателя, в соответствии с письменным уведомлением Поставщика. В противном
        случае действия Покупателя будут расцениваться как подтверждение факта коммерческого подкупа работников
        Поставщика, в результате чего к Покупателю будут применены правовые последствия, предусмотренные п. 8.8.
        настоящего Договора.</p>
{% endblock %}
