{% extends 'base.html.twig' %}

{% block title %}New Projects{% endblock %}

{% block body %}
    <h1>Create new Projects</h1>

    {{ include('project/projects/_form.html.twig') }}

    <a href="{{ path('projects') }}">back to list</a>
{% endblock %}
