{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{#https://symfony.com/doc/current/controller/error_pages.html#}
{% extends 'base.html.twig' %} {% block body %}
    <h1>Page not found</h1> <p>Моя переопределенная страница ошибки The requested page couldn't be located. Checkout for any URL misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>. </p> {% endblock %}
